@color1: rgb(255, 255, 255);

.body{
   // grid-column: 2/three;
   // grid-row: three/four;
   grid-area: b;

   background-color: @color1;
   color: white;
   padding: 8vh 22vw 4vh 8vw;
   box-shadow: 5px 5px 10px 1px  black ;

}