.body {
  width: 100vw;
  background-color: white;
  color: white;
  padding: 2vh 5vw 4vh 5vw;
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
}
.body #web {
  height: 46px;
  width: 100%;
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #353535;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 1px 2px 0px #353535;
}
.body .Arch .image-gallery-image {
  height: 70vh;
  width: 80%;
  margin: auto;
  height: 430px;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}
.body .Arch .ArchStuff {
  margin: 80px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: black;
}
.body .Arch .archPics {
  width: 40%;
  height: 40%;
  border-radius: 2vMax;
}
.body .Arch #cv {
  display: flex;
  flex-direction: column;
}
.body .Arch #cv .cv1 {
  box-shadow: 0px 1px 2px 1px #3C3B55;
  width: 70vw;
  margin: auto;
  justify-items: center;
}
