.body {
  grid-area: b;
  background-color: #ffffff;
  color: white;
  padding: 8vh 22vw 4vh 8vw;
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
}
.body .cv {
  display: flex;
  flex-direction: column;
}
.body .cv .cv1 {
  box-shadow: 0px 1px 2px 1px #3C3B55;
  width: 70vw;
  margin: auto;
  justify-items: center;
}
