@color1: rgb(255, 255, 255);
@color2:#3C3B55;
@color3:rgb(177, 177, 177);
@color4:rgb(53, 53, 53);

.body{
   width: 100vw;
   background-color: white;
   color: white;
   padding: 2vh 5vw 4vh 5vw;
   display: flex;
   flex-direction: column ;
   justify-content:  space-around ;
   #web{
      height: 46px;
      width: 100%;
      margin: 20px 0px 10px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;  
      justify-content: center;  
      color: @color1;  
      background-color: @color4;
      border-radius: 5px 5px 0px 0px;
      box-shadow: 0px 1px 2px 0px @color4;
   }
   .Arch{
      // margin-top: 50px;
      .image-gallery-image{ 
      height: 70vh;
      width: 80%;
      margin: auto;
      height: 430px; 
      object-fit: cover;
      overflow: hidden;
      object-position: center;
   } 
   .ArchStuff{
      margin: 80px 0px 30px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;  
      width: 90%;
      color: black; 
   }
   .archPics{
      width: 40%;
      height: 40%;
      border-radius: 2vMax;
      // background-size: cover;
      // background-image: url('../../img/archBackground.jpg');
      // opacity: 0.6;
      // filter: blur(5px);
   }
   #cv{
      display: flex;
      flex-direction:column;
      // align-content: center;
      // align-items: center;
      .cv1{
         box-shadow: 0px 1px 2px 1px  @color2 ;
         width: 70vw;
         margin: auto;
         // align-items: center;
         justify-items: center;
      }
   }
   // .backImg{
      // background-image: url('https://i.stack.imgur.com/yDr7J.jpg');
      // }
   }
}