@color1: rgb(255, 255, 255);
@color2:#3C3B55;
@color3:rgb(243, 243, 243);
@color4:rgb(53, 53, 53);

.body{
   width: 100vw;
   background-color: rgb(241, 241, 241);
   color: white;
   padding: 2vh 5vw 4vh 5vw;
   display: flex;
   flex-direction: column ;
   justify-content:  space-around ;
// }

   #web{
      height: 36px;
      width: 90%;
      margin: 15px 0px 3px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;  
      justify-content: center;  
      color: @color1;  
      background-color: @color4;
      background-image: url('https://i.stack.imgur.com/yDr7J.jpg');
      background-size: cover;
      // background-position: bottom;
      border-radius: 5px 5px 0px 0px;
      box-shadow: 0px 1px 2px 0px @color4;
   }
      .GalleryImage{
         display: flex;
         flex-direction: row;
         // align-items: center;  
         justify-content: center;  
         max-height: 80vh;
         min-height: 80vh;
         // height: 80vh;
         margin: 1vh auto 1vh auto;
         img{
            padding: auto;

         }
      }
   

   //    // background-size: cover;
   //    // background-image: url('../../img/archBackground.jpg');
   //    // opacity: 0.6;
   //    // filter: blur(5px);

   }