.contactDiv {
  grid-area: c;
  display: grid;
  grid-template-columns: 1fr 6fr;
  text-align: center;
  align-items: strach;
}
.contactDiv .contactCV {
  grid-column: 1;
  text-justify: center ;
  background-color: #c97070;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}
.contactDiv .contactInfo {
  background-color: #cf4c4c;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 0px 12vw 0px 8vw;
}
.contactDiv .contactInfo .contact {
  text-align: center;
  background-color: #cf4c4c;
  color: white;
  display: inline-block;
}
