@color1:#3C3B55;
@color2:#4B4A6A;
// @color2:#35344A;

.contactDiv{
   // grid-column: 1/three;
   // font-family: 'Courier New', Courier, monospace;
   // font-family: 'roboto', Courier, monospace;
   font-family: 'Lucida Sans Unicode', Courier, monospace;
   position: fixed;
   width: 100vw;
   height: 25px;
   grid-area: c;
   display: grid;
   grid-template-columns: 12% 88%;
   text-align: center;
   align-items: strach;
   box-shadow: 1px 0px 3px 0px whitesmoke;
   z-index: 99;
   .contactCV{
      grid-column: 1;
      text-justify: center ;
      background-color: @color2;
      display: flex;
      align-items: center;
      padding-left: 1vw;
      // justify-content: center;
   }
   .contactInfo{
      // box-shadow: 1px 1px 4px 1px black;
      background-color: @color1;
      align-items: center;
      display: flex;
      justify-content: space-between;
      align-self: stretch;
      padding:  0px 12vw 0px 8vw;
      .text2{
         text-shadow: 2px 2px @color2;
      }
      .contact{
         text-align: center;
         background-color: @color1;
         display: inline-block;
      }
   }
}