.contactDiv {
  z-index: 9;
  position: fixed;
  width: 100vw;
  height: 6vh;
  display: flex;
  text-align: right;
  background-color: #353535;
  opacity: 0.65;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -5px 16px 0px #ffffff;
}
.contactDiv a {
  color: #353535;
  text-decoration: none;
  margin: 0px 0px 0px 15px;
}
.contactDiv .linksMenu {
  display: flex;
}
.contactDiv .linksMenu .links {
  font-size: calc(10px + 0.7vmin);
  color: #acacac;
}
@media (max-width: 500px) {
  .contactDiv .linksMenu .links {
    display: none;
    margin-right: -10px;
    position: initial;
  }
}
.contactDiv .innerLinks {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .contactDiv .innerLinks {
    font-size: 0px;
    margin-right: px;
  }
}
.contactDiv .lastUpdate {
  font-size: 2vmin;
  color: #000000;
}
@media (max-width: 700px) {
  .contactDiv .lastUpdate {
    display: none;
  }
}
