@color1: rgb(133, 82, 214);

.header{
   // grid-column: 2/three;
   // grid-row: 2/three;
   grid-area: h;
   background-color: @color1;
   color: white;
   padding: 4vh 22vw 6vh 8vw;
   .name{
      margin: 0px 0px 2vh 0px;
   }
   .content{
      display: flex;
      align-items: center;
      .image{
         height: 20vh;
         border-radius: 10px;
         box-shadow: 0px 0px 10px 2px white;
         // margin: 13px 0px 0px 0px;
      }
      .headerT{
         padding: 0px 0px 0px 20px;
         // margin: 13px 0px 0px 0px;

      }
   }
}