.header {
  grid-area: h;
  background-color: #ffffff;
  padding: 4vh 12vw 6vh 8vw;
  box-shadow: 5px 4px 5px 5px #2c2c54;
}
.header .name {
  margin: 0px 0px 2vh 0px;
}
.header .content {
  display: flex;
  align-items: center;
}
.header .content .image {
  height: 20vh;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 2px #424242;
}
.header .content .headerText {
  padding: 0px 0px 0px 20px;
}
