@text1: rgb(0, 0, 0);
@text2: rgb(172, 172, 172);
@links: rgb(255, 255, 255);
@color1:#357fa7;
// @color1:rgb(59, 58, 63);

@color2: rgb(255, 255, 255);
@test: red;


#header{
   height: 64vh;
   // min-height: 9vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   // margin-top: 6vh;
   background-color: @color1;
   padding: 20vh 0vw 16vh 0vw;
//    font-family: 'Comic Sans MS', Courier, monospace;
   font-family: "Handlee",cursive;
   text-align: center;
   // background-image: url('../../img/archBackground.jpg');
   background-image: url('https://i.stack.imgur.com/yDr7J.jpg');
   background-position: center;
   background-size: cover;
   align-items: center;
   @media (max-width: 500px) {
      // margin-right:-20px;
      // position: initial;
      // margin-left: -3vw;
    }
   .name{
      // margin: 0px 3px 2vh 3px;
      font-size: 25px;
   }
   .ofer{
      letter-spacing: 5px;
   }
   .content{
      // display: flex;
      align-items: center;
      // .image{
         //    height: 20vh;
         //    border-radius: 10px;
         //    box-shadow:  0px 0px 10px 2px rgb(66, 66, 66);
         //    // margin: 13px 0px 0px 0px;
         // }
         .headerText{
            align-items: center;
            margin: 0px 2vw 2vh 2vw;

         padding: 0px 20px 0px 20px;
         // margin: 13px 0px 0px 0px;
      }
   }
}
