.project {
  background-color: white;
  display: flex;
  width: 90%;
  height: 60%;
  margin-top: 30px;
  border-radius: 0px 0px 8px 8px;
}
@media (max-width: 900px) {
  .project {
    flex-direction: column;
  }
}
.project .projectText {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .project .projectText {
    width: 90%;
  }
}
.project .projectText .header {
  color: #357fa7;
  font-size: 18px;
  margin-bottom: 3%;
}
.project .projectText .technologies {
  color: black;
  margin-top: 3%;
  margin-bottom: 5%;
}
.project .projectText .linkButton {
  background-color: #357fa7;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  color: #ffffff;
  border: 0px solid #ffffff;
  margin-right: 2%;
  font-family: Arial, Helvetica, sans-serif;
}
.project .projectImage {
  width: 60%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .project .projectImage {
    width: 94%;
    height: auto;
    align-self: center;
    margin-bottom: 5px;
  }
}
.project .projectImage .imageOnly {
  border-radius: 5px;
  padding: 2px;
  border: 1.5px solid #357fa7;
}
