.app {
  background-color: #85c8ff;
  display: grid;
  grid-template-columns: 12% 88%;
  grid-template-rows: 25px auto 12fr;
  grid-template-areas: "c c" "n h" "n b";
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.app .links {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
}
.app .text1 {
  color: #000000;
  font-size: 14px;
}
.app .text2 {
  color: #acacac;
  font-size: 13px;
}
