@text1: rgb(0, 0, 0);
@text2: rgb(172, 172, 172);
@links: rgb(255, 255, 255);
@test: red;

.app{
   background-color: rgb(133, 200, 255);
   // font-family: 'Courier New', Courier, monospace;
   // font-family: 'Comic Sans MS', Courier, monospace;
   
   display: grid;
   grid-template-columns: 12% 88%;
   grid-template-rows: 25px auto 12fr;
   grid-template-areas: "c c" 
                        "n h"
                        "n b";
   width: 100vw;
   height: 100vh;
   overflow-y: auto;
   .links{
      color: @links;
      text-decoration: none;
      font-size: 13px;

   }
   .text1{
      color: @text1;
      font-size: 14px;
      
   }
   .text2{
      color: @text2;
      font-size: 13px;

   }
}
