.app {
  background-color: #85c8ff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.app .links {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Raleway', sans-serif, monospace;
}
.app .text1 {
  color: #acacac;
  font-size: 16px;
}
.app .text2 {
  color: #acacac;
  font-size: 13px;
}
.app a {
  color: #3b3a3f;
  text-decoration: none;
  margin: 0px 0px 0px 15px;
}
