@import "~react-image-gallery/styles/css/image-gallery.css";
@color1: rgb(255, 255, 255);
@color2: #3C3B55;
@color3: #ebebeb;
@color4: rgb(53, 53, 53);
@color5: rgb(218, 218, 218);

#arch {
    width: 90vw;

    .ArchStuff {
        height                : 36px;
        width                 : 100%;
        margin                : 25px 0px 8px 0px;
        display               : flex;
        flex-direction        : column;
        align-items           : center;
        justify-content       : center;
        color                 : @color1;
        background-color      : @color4;
        background-image      : url('https://i.stack.imgur.com/yDr7J.jpg');
        background-size       : cover;
        // background-position: bottom;
        border-radius         : 5px 5px 0px 0px;
        box-shadow            : 0px 1px 2px 0px @color4;
    }

    .image-gallery-thumbnail-inner {
        max-height: 10vh;
        // width: auto;
    }

    .image-gallery-thumbnails {
        padding: 0px;
        img {
            max-height: 10vh;
            // width: auto;
        }
    }

    .image-gallery-image {
        //    background-color: @color3;
        margin            : 0px 25% 0px 24%;
        // height         : 70vh;
        // width          : 50vmax;
        display           : flex;
        flex-direction    : column;
        align-items       : center;
        justify-content   : center;

        // @media (max-width: 800px) {
        //     margin: 0px 25% 0px 24%;
        //     height   : 50vh;
        //     max-width: 50vmax;
        // }
        @media (max-width: 600px) {
            margin: 0px 0px 0px 0px;
        }
    }

    .image-gallery-slide {
        background-color: @color3;
        padding-bottom  : 5%;
    }

    // .archPics{
    // height: 40%;
    // border-radius: 2vMax;
    // background-size: cover;
    // background-image: url('../../img/archBackground.jpg');
    // opacity: 0.6;
    // filter: blur(5px);
    // }
}

.image-gallery-bullets-container {
    margin-top         : 80px;
    padding-top        : 80px;
    // background-color: #fff;
}

.ArchImages {
    height: 80%;

    // margin: 20px;
    padding         : 10px;
    background-color: @color3;
    border-radius   : 0px 0px 10px 10px;
}