@import "~react-image-gallery/styles/css/image-gallery.css";
#arch {
  width: 90vw;
}
#arch .ArchStuff {
  height: 36px;
  width: 100%;
  margin: 25px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #353535;
  background-image: url('https://i.stack.imgur.com/yDr7J.jpg');
  background-size: cover;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 1px 2px 0px #353535;
}
#arch .image-gallery-thumbnail-inner {
  max-height: 10vh;
}
#arch .image-gallery-thumbnails {
  padding: 0px;
}
#arch .image-gallery-thumbnails img {
  max-height: 10vh;
}
#arch .image-gallery-image {
  margin: 0px 25% 0px 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  #arch .image-gallery-image {
    margin: 0px 0px 0px 0px;
  }
}
#arch .image-gallery-slide {
  background-color: #ebebeb;
  padding-bottom: 5%;
}
.image-gallery-bullets-container {
  margin-top: 80px;
  padding-top: 80px;
}
.ArchImages {
  height: 80%;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 0px 0px 10px 10px;
}
